<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Footer</title>
</head>
<body>


	<div class="container" data-th-fragment="footer">
            <div class="row my-5">
            <h2 class="white-text">Facultad de Ingenieria - UNJu</h2>
              <div class="col l6 s12">

                <ul>
                  <li class="grey-text text-lighten-3">Italo Palanca N°10</li>
                  <li class="grey-text text-lighten-3">San Salvador de Jujuy</li>
                  <li class="grey-text text-lighten-3">Jujuy - Argentina</li>
                  <li class="grey-text text-lighten-3">info@fi.unju.edu.ar</li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Redes Sociales</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                </ul>
              </div>
            </div>

            <div class="row my-5">
	           <div class="footer-copyright">
	            <div class="container">
	            <p>Términos y Condiciones</p>
	            <p>Copyright © 2014-2022 - Facultad de Ingeniería - UNJu</p>
	            </div>
	          </div>
            </div>



          </div>

</body>
</html>